<template>
    <v-container>
            <div v-show="session !== null">
                <v-row>
                    <v-col cols="12">
                        <h1 class="display-3 text-center">{{session.title}}</h1>
                    </v-col>
                    <v-col cols="12">
                        <session-form @start-session="startSession"
                                      :focus-field-on-load="false"
                        />
                    </v-col>
                </v-row>

                <v-row>
                    <v-col v-if="sortedStages.length > 0"
                           cols="12"
                    >
                        <stage-editor v-for="stage of sortedStages"
                                      :key="stage.id"
                                      :stage="stage"
                                      :focus-title-field-on-load="false"
                        />
                    </v-col>

                    <v-col v-if="session.id"
                           class="text-center"
                    >
                        <v-btn text @click="addStage">
                            <v-icon left>fa-plus</v-icon>
                            Stufe hinzufügen
                        </v-btn>
                    </v-col>
                </v-row>

                <v-row>
                    <v-col class="text-center">
                        <v-btn  :to="{name: 'login'}"
                            color="primary"
                            large
                            class="v-btn v-btn--contained theme--light v-size--large primary float-right"
                        > 
                            <v-icon left>fa-save</v-icon>
                            Save 
                        </v-btn>
                    </v-col>
                </v-row>
            </div>
    </v-container>
</template>

<script lang="ts">
    import {Vue, Component} from "vue-property-decorator";
    import {mask} from 'vue-the-mask';
    import {Session} from "@/models/session";
    import SessionForm from "@/components/SessionForm.vue";
    import StageEditor from "@/components/StageEditor.vue";
    import {mapGetters} from "vuex";
    import {sessionIdentifiers} from "@/store/newModules/session";
    import {targetIdentifiers} from "@/store/newModules/target";
    import {signalRIdentifiers} from "@/store/newModules/signalR";
    import {stageIdentifiers} from "@/store/newModules/stage";

    @Component({
        components: {SessionForm, StageEditor},
        directives: {
            mask
        },
        computed: {
            ...mapGetters('stage', {
                sortedStages: 'sortedStages',
            }),
        }
    })
    export default class EditSession extends Vue {


        get session() {
            return this.$store.state.session.session;
        }

        async created() {
           // window.addEventListener('beforeunload', this.preventTabClose);

            const session = await this.$store.dispatch(sessionIdentifiers.actions.loadByEditCode, this.$route.params.editcode); //gets editcode from url 
            if (session != null) { this.thenHandler(session) } else {
                this.$router.push({ name: 'login' }); //redirect to admin-page if editcode invalid
            }
        }

        // preventTabClose(event: BeforeUnloadEvent) {
        //     if( !this.disablepreventunload ) { 
        //         event.preventDefault();
        //         event.returnValue = "";
        //         return "";
        //     } 
        // }

        thenHandler(session: Session) { 
                this.$store.dispatch(sessionIdentifiers.actions.downloadAllData, session.id) //load all data 
                .then(() => {
                    this.$store.dispatch(targetIdentifiers.actions.load); //load all targets 
                });
        }

        addStage() {
            this.$store.dispatch(stageIdentifiers.actions.add);
        }

        startSession() {
            this.$store.dispatch(signalRIdentifiers.actions.startSession, this.session.id);
        }
    }
</script>