<template>
    <v-container> 
        <header>
            <!-- <v-img src="@/assets/images/titleImage.svg" contain min-height="200"></v-img> -->

            <h1 class="display-4 font-weight-thin text-center">BYOD Launcher</h1>
            <h2 class="font-weight-thin text-center"> Herzlich Willkommen im Adminbereich {{user}} </h2>
            <p class="subtitle-1 text-center"> Hier können sie Sessions erstellen und verwalten.</p>
        </header>

        <v-divider class="divider-with-space"/>

        <v-row>
            <v-card>
                    <v-img src="@/assets/images/configureSession.svg" height="180" contain/>

                    <v-card-title>
                        Einrichtung planen
                    </v-card-title>

                    <v-card-text>
                        Lehrpersonen können mit dem BYOD Launcher die Einrichtung persönlicher Geräte
                        planen. Dazu können verschiedene Aspekte der Einrichtung gezielt ausgewählt und für
                        verschiedene Bedürfnisse vorbereitet werden.
                    </v-card-text>

                    <v-divider/>

                    <v-card-actions>
                        <v-spacer/>

                       <v-btn text small @click="neueSession()">  
                            Einrichtung planen
                        </v-btn>
                    </v-card-actions>
            </v-card>
        </v-row>

        <v-divider class="divider-with-space"/>
        <v-row>
            <h4>
                {{user}}'s Sessions
            </h4>
            <session-list> </session-list>
        </v-row>
    </v-container>
</template>

<script lang="ts">

    import {Component, Vue} from "vue-property-decorator";
    import SessionList from "@/components/SessionList.vue";
    import axios from "axios";

    @Component({
        components: {SessionList}
    })
    export default class Login extends Vue {
        user = ""; 

        //import username with api/user
          async created() {
            await axios
            .get("/api/user")
            .then(response => {
                this.user = response.data
                console.log(response);
                })
            .catch(error => console.log(error.message));
        }

        neueSession() {
            window.location.assign("/new-session");
        }
    }
</script>

<style lang="scss">
    .centered-input {
        input {
            text-align: center;
        }

        &.accessCode-input {
            input {
                font-size: 60px;
                max-height: none;
            }

            .v-text-field__details {
                font-weight: normal;
            }
        }

        .v-messages__message {
            text-align: center;
        }
    }

    .centered-input .v-messages {
        text-align: center;
    }


    .divider-with-space {
        margin: 70px 0;
    }
</style>