<template>
    <v-form v-model="syncFormIsValid"
            ref="baseForm"
            @submit.prevent="submit"
    >
        <v-row>
            <v-col cols="12">
                <v-text-field v-if="sessionTitleFieldHasFocus"
                              v-model="sessionTitle"
                              outlined
                              placeholder="Titel für die geführte Einrichtung"
                              counter="100"
                              autofocus
                              :rules="[validationRules.required, validationRules.length]"
                              @keydown.enter="submit"
                              @blur="onBlur('sessionTitle')"
                              @change="updateSessionTitle"
                />
                <div v-else>
                    <p class="overline">Titel der geführten Einrichtung</p>
                    <h2 class="display-1 editable-content"
                        @click="sessionTitleFieldHasFocus = !sessionTitleFieldHasFocus"
                    >
                        {{sessionTitle}}
                        <v-icon>fa-pencil-alt</v-icon>
                    </h2>
                </div>
            </v-col>
        </v-row>

        <v-row justify="center">
            <v-col cols="6"
                   v-if="currentAccessCode"
            >
                <p class="overline">Code für Teilnehmende</p>
                <p class="title">
                    {{getCodeString(currentAccessCode)}}
                </p>
            </v-col>

            <v-col cols="6"
                   v-if="currentEditCode"
            >
                <p class="overline">Code für Administration</p>
                <p class="title">
                    {{getCodeString(currentEditCode)}}
                </p>
            </v-col>
            
            <v-col cols="12"
                   class="text-center"
                   v-show="stages.length >= 1"
            >
                <v-btn large
                       color="primary"
                       @click="$emit('start-session')"
                       :loading="isLoading"
                >
                    <v-icon left small>fa-play</v-icon>
                    Einrichtung starten
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</template>

<script lang="ts">

    import {Vue, Component, PropSync, Prop} from "vue-property-decorator";
    import {mapGetters, mapState} from "vuex";
    import {mask} from "vue-the-mask";
    import {sessionIdentifiers} from "@/store/newModules/session";

    type focusFieldType = 'sessionTitleFieldHasFocus';

    @Component({
        directives: {mask},
        computed: {
            ...mapGetters({
                isLoading: 'isLoading',
            }),
            ...mapGetters('session', {
                currentAccessCode: 'currentAccessCode',
                currentEditCode: 'currentEditCode',
            }),
            ...mapState('stage', {
                stages: 'stages'
            })
        }
    })
    export default class SessionForm extends Vue {
        @PropSync('formIsValid', {type: Boolean}) syncFormIsValid!: boolean;
        @Prop({ default: true }) readonly focusFieldOnLoad!: boolean;


        formIsValid = false;

        sessionTitleFieldHasFocus = this.focusFieldOnLoad;

        get sessionTitle() {
            return this.$store.state.session.session.title ?? '';
        }

        set sessionTitle(title) {
            this.$store.dispatch(sessionIdentifiers.actions.update, {title});
        }

        validationRules = {
            required: (value: string) => !!value || "Feld darf nicht leer sein",
            length: (value: string) => value.length <= 100 || "Maximal 100 Zeichen erlaubt",
        };

        async onBlur(fieldName: 'sessionTitle') {
            let hasFocus = this[fieldName].length === 0;
            hasFocus = hasFocus || this[fieldName].length > 100;

            const focusFieldName = (fieldName + "FieldHasFocus") as focusFieldType;
            this[focusFieldName] = hasFocus;
        }

        async focusField(fieldName: string) {
            const focusFieldName = (fieldName + "FieldHasFocus") as focusFieldType;

            this[focusFieldName] = !this[focusFieldName];
            this.$nextTick(() => (this.$refs[fieldName] as HTMLInputElement).focus());
        }

        updateSessionTitle() {
            this.$store.dispatch(sessionIdentifiers.actions.remoteUpdate);
        }

        getCodeString(code: number) {
            return code.toString().substr(0, 3) + '-' + code.toString().substr(3, 3)
        }

        submit() {
            if ((this.$refs['baseForm'] as HTMLFormElement).validate()) {
                this.sessionTitleFieldHasFocus = false;
                this.$emit('submit-session-form');
            }
        }
    }
</script>