<template>
<v-container>
    <v-row>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">AccessCode</th>
                    <th scope="col">Edit</th>
                    <!--TODO: Participants auflisten und deren Stand-->
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="session in sessions" :key="session.id">
                        <th scope="row">{{session.id}}</th>
                        <td>{{session.title}}</td>
                        <td>{{session.accessCode}}</td>
                        <td>
                            <router-link :to="`/edit-session/${session.editCode}`" class="v-btn v-btn--contained theme--light v-size--large primary float-right">  
                                Edit this Session
                            </router-link> 
                        </td> 
                    </tr>
                </tbody>
            </table>
    </v-row>
</v-container>
</template>

<script lang="ts"> 

    import axios from "axios";
    import {Component, Vue} from "vue-property-decorator";

    @Component //all components are also vue instances ( like those created with "new Vue()" )
    export default class SessionList extends Vue { 
        sessions = []; //class properties will be component data 

        created() {
            axios
            .get("/api/session")
            .then(response => {
                this.sessions = response.data
                console.log(response);
                })
            .catch(error => console.log(error.message));
        }
    }

</script>